footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    padding-bottom: 100px;
}

.footer-copyright {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #eae6e6;
}