.video-outter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-heading {
    color: #FF69B4;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    text-align: center;
}

.video-iframe {
    width: 800px;
    height: 450px;
}

@media screen and (max-width: 868px) {
    .video-iframe {
        width:550px;
        height: 310px;
    }
}

@media screen and (max-width: 588px) {
    .video-iframe {
        width: 350px;
        height: 198px;
    }
}